@import '~Osm_Ui_Aba/_variables-and-mixins.scss';
@import './_mixins.scss';

.input {
  margin: rem(16px) 0 rem(8px);

  &__body {
    padding: rem(4px) rem(12px) rem(6px);
    border-bottom: solid rem(2px) transparent;
    border-radius: rem(4px) rem(4px) 0 0;
  }

  &__value {
    width: 100%;
    border: none;
  }

  &__comment, &__error {
    font-size: rem(12px);
    padding: 0 rem(12px);
    min-height: rem(18px);
  }

  &__error {
    color: $color--error;
    display: none;
  }

  &.-error {
    .input__title {
      color: $color--error;
    }

    .input__error {
      display: block;
    }

    .input__comment {
      display: none;
    }
  }

  &.-error.-active {
    .input__body {
      border-color: $color--error;
    }
  }

  &.-filled {
    .input__body {
      background: $color--input--filled;
    }

    .input__value {
      background: $color--input--filled;

      // fix Chrome auto filled input background
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $color--input--filled inset !important;
      }
    }
  }

  @include input-color($color--primary, $color--on-primary);
  &.-light {
    @include input-color($color--primary-light, $color--on-primary-light);
  }
  &.-dark {
    @include input-color($color--primary-dark, $color--on-primary-dark);
  }

  &.-secondary {
    @include input-color($color--secondary, $color--on-secondary);
    &.-light {
      @include input-color($color--secondary-light, $color--on-secondary-light);
    }
    &.-dark {
      @include input-color($color--secondary-dark, $color--on-secondary-dark);
    }
  }
}