@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

.snack-bar-panel {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: $z-index--snack-bar;
  pointer-events: none; // pass mouse events to elements under snack bar panel
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    margin-top: rem(8px);
  }
}
.snack-bar {
  padding: rem(14px) rem(8px) rem(13px) rem(16px);
  background: $color--snack-bar;
  color: $color--on-snack-bar;
  border-radius: rem(4px);
  box-shadow: shadow($z-index--snack-bar);
  font-size: rem(14px);
  max-width: calc(100% - 32px); // this property is checked in SnackBar.js, don't remove it

  &.-full-width {
    min-width: auto;
    align-self: stretch;
  }

  &__viewport {
    display: none;
    padding: 16px;
  }

  &.-with-sidebar &__message {
    padding-top: rem(7.5px);
  }

  &__sidebar {
    float: right;
    padding-left: rem(40px);
  }
}