@import '~Osm_Ui_Aba/_variables-and-mixins.scss';
@import './_mixins.scss';

.page {
  &__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "content";
    grid-gap: rem(16px);
  }

  &__content {
    grid-area: content;
  }

  &__sidebar {
    width: $sidebar-width;
    display: none;
    grid-area: sidebar;
  }

  &__alternative-sidebar {
    width: $sidebar-width;
    display: none;
    grid-area: alternative-sidebar;
  }

  @media screen and (min-width: $sidebar-width * 3) {
    &.-has-sidebar, &.-has-alternative-sidebar {
      .page__item > * {
        max-width: $page-width + $sidebar-width;
      }

      .page__item.-narrow > * {
        max-width: $narrow-page-width + $sidebar-width;
      }
    }

    &.-has-sidebar {
      .page__main {
        grid-template-columns: $sidebar-width 1fr;
        grid-template-areas: "sidebar content";
      }

      .page__sidebar {
        display: block;
      }
    }

    &.-has-alternative-sidebar:not(.-has-sidebar) {
      .page__main {
        grid-template-columns: 1fr $sidebar-width;
        grid-template-areas: "content alternative-sidebar";
      }

      .page__alternative-sidebar {
        display: block;
      }
    }
  }

  @media screen and (min-width: $sidebar-width * 5) {
    &.-has-sidebar.-has-alternative-sidebar {
      .page__item > * {
        max-width: $page-width + 2 * $sidebar-width;
      }

      .page__item.-narrow > * {
        max-width: $narrow-page-width + 2 * $sidebar-width;
      }

      .page__main {
      grid-template-columns: $sidebar-width 1fr $sidebar-width;
      grid-template-areas: "sidebar content alternative-sidebar";
      }

      .page__alternative-sidebar {
        display: block;
      }
    }
  }
}

.sidebar {
  &__item {
    box-shadow: shadow($z-index--card);
    padding: rem(8px);
    margin: rem(16px) 0;
  }
}
