@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

body.-tests-ui-menus {

  .__viewport {
    width: 500px;
    height: 500px;
    border: 1px solid lightgray;
    overflow: scroll;
  }

  .__content {
    width: 1000px;
    height: 1000px;
    position: relative;
  }

  #popup_test__button {
    position: absolute;
    left: 250px;
    top: 250px;
  }
}

body.-tests-ui-colors {
  .-delimiter {
    @include foreach-background() using($bg) {
      color: fg-delimiter-color($bg);
    }
  }

  .__palette {
    td {
      text-align: center;
    }
  }

  .__color {
    border: solid 1px currentColor;
  }
}

.list {
  &.-grid.-contacts &__items {
    grid-template-columns: repeat(auto-fill, minmax(rem(250px), 1fr));
    grid-gap: rem(8px);
  }

  &.-grid.-contacts &__item {
    border: 1px solid;
    padding: rem(8px);
    @include foreach-background() using($bg) {
      border-color: fg-delimiter-color($bg);
    }
  }

}
