@import '~Manadev_Ui_Aba/_variables-and-mixins.scss';

// change this if button height changes, this variable is used in button containers such as menu bar
$height--button: rem(36px);

@mixin button-color($color, $on-color) {
  background-color: transparent;
  color: $color;

  &.-outlined {
    border-color: $color;
  }

  &.-filled {
    background-color: $color;
    color: $on-color;
    border-color: $color;
  }

  &:hover,
  &.-hovered {
    background-color: rgba(lighten($color, 30), 0.05);

    &.-filled {
      background-color: lighten($color, 5);
      border-color: lighten($color, 5);
    }
  }

  &:focus,
  &.-focused {
    background-color: rgba(lighten($color, 25), 0.10);

    &.-filled {
      background-color: lighten($color, 10);
      border-color: lighten($color, 10);
    }
  }

  // aka pressed
  &:active,
  &.-pressed {
    background-color: rgba(lighten($color, 20), 0.15);

    &.-filled {
      background-color: lighten($color, 15);
      border-color: lighten($color, 15);
    }
  }

  &:disabled,
  &.-disabled,
  &.-disabled:hover,
  &.-disabled:focus {
    color: $color--disabled;

    &.-filled {
      background-color: transparent;
      border-color: $color--disabled;
    }
  }
}
