@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

.button {
  border: solid transparent rem(1px);
  border-radius: em(4px);
  display: inline-flex;
  min-width: 36px;
  font-size: rem(14px);
  padding: rem(6.5px) rem(8px);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  // buttons on elements not catching mouse events (such as snack bars) should still catch hovers and clicks
  pointer-events: auto;

  // removes light blue outline over focused link elements
  outline: 0;

  // remove blue highlight rectangle on touch
  -webkit-tap-highlight-color: transparent;

  &:disabled, &.-disabled, &.-disabled:hover, &.-disabled:focus {
    @include dont-handle-mouse-events();
  }

  &:disabled, &.-disabled {
    @include foreach-background() using($bg) {
      color: fg-color($bg, fg("disabled"));
    }
  }

  &:visited {
    @include foreach-background() using($bg) {
      @include foreach-foreground($bg) using($bg, $fg) {
        color: fg-color($bg, $fg);
      }
    }
  }

  &:hover, &:focus {
    @include foreach-background() using($bg) {
      @include foreach-foreground($bg) using($bg, $fg) {
        background-color: fg-highlighted-color($bg, $fg);
      }
    }
  }
  &:active {
    @include foreach-background() using($bg) {
      @include foreach-foreground($bg) using($bg, $fg) {
        background-color: fg-pressed-color($bg, $fg);
      }
    }
  }

  &.-outlined {
    border-color: currentColor;
  }
}
