@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

.tabs {
  &__titles {
    @include no-list-formatting();
  }

  &.-side-by-side &__titles {
    display: none;
  }

  &__title {

  }

  &__tabs {
    @include no-list-formatting();
  }

  &.-side-by-side &__tabs {
    display: flex;
  }

  &__tab {
    flex: 1 0;
    width: 0;
    padding: 0 rem(12px);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}