@import './_unit-conversions.scss';

/*-------------------------------------------------------------------*\
  #COLOR-PALETTE
\*-------------------------------------------------------------------*/

// All colors are defined as **pairs of colors**: color itself and its "on-color" - the one used
// for text and lines when color is used for background.

// Theme defines 2 **brand** colors (secondary color is optional and in this case define it the same
// as primary color) and light and dark variations of these colors

// The following tool aws used to pick these colors:
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=26b1ed&secondary.color=00872d

//region: brand color pairs
//endregion

// Theme defines the following **system** colors independent of brand colors

//region background colors

// default theme background color
$color--background: #ffffff; // white

// brand colors and variations
$color--primary-dark: #0082ba;
$color--primary: #26b1ed;
$color--primary-light: #70e3ff;
$color--secondary-dark: #005900;
$color--secondary: #00872d;
$color--secondary-light: #4cb85a;

// emotion colors
$color--success: #006400; // darkgreen
$color--warning: #a77908;
$color--error: #8b0000; // darkred

// other backgrounds
$color--space: #e5e5e5;
$color--message: #323232;

//endregion
//region foreground colors

// default color
$color--default: #000000; // black
$color--default-on-dark: #ffffff; // white

// emotion color light counterparts
$color--success-on-dark: #7abe85;
$color--warning-on-dark: #ecd2a2;
$color--error-on-dark: $color--error; //#cc666e; //#bc7b7c;

// other colors
$color--disabled: #7d7d7d;
$color--disabled-on-dark: #c7c7c7;

//endregion

// obsolete
$color--on-background: black;
$color--surface: white;
$color--on-surface: black;
$color--on-primary-dark: black;
$color--on-primary: black;
$color--on-primary-light: black;
$color--on-secondary-dark: white;
$color--on-secondary: white;
$color--on-secondary-light: black;
$color--page-dialog: #e5e5e5;
$color--input--filled: #e5e5e5;
$color--snack-bar: #323232;
$color--on-snack-bar: #b1b1b1;
$color--data-table-line: lightgrey;

/*-------------------------------------------------------------------*\
  #Z-INDEXES
\*-------------------------------------------------------------------*/
// Z Indexes are used not only to set HTML element `z-index` property (which positions one elements
// closer to screen surface than others) but also to add shadows (elements which fly higher have larger shadows).
//
// These variables are based [on material design guidelines](https://material.io/design/environment/elevation.html).

$z-index--card: 1;
$z-index--button--raised: 2;
$z-index--button--floating-action: 6;
$z-index--menu: 8;
$z-index--button--raised--pressed: 8;
$z-index--snack-bar: 8;
$z-index--button--floating-action--pressed: 12;
$z-index--navigation-drawer: 16;
$z-index--modal-dialog: 24;

/*-------------------------------------------------------------------*\
  #OTHER
\*-------------------------------------------------------------------*/

$line-height--base: 1.5;        // Default line height (1.5 ratio means
                                // that if font size is 16px,
                                // then line height is 24px)
$page-width: 1200px;            // if page is larger, content is of
                                // this width, centered
$narrow-page-width: 800px;
$wide-page-width: 1600px;
$sidebar-width: 296px;
$page-padding: rem(12px);       // padding INSIDE of page width

$margin--h1: 0.75rem;
$margin--h2: 0.75rem;
$margin--h3: 0.75rem;
$margin--h4: 0.75rem;
$margin--h5: 0.75rem;
$margin--h6: 0.75rem;

@import '~./_variables-custom.scss';

$bg-colors: (
  // CSS class root   type        color   highlight pressed
  (""                 "default"  $color--background),

  ("primary-light"    "brand"    $color--primary-light),
  ("primary"          "brand"    $color--primary),
  ("primary-dark"     "brand"    $color--primary-dark),
  ("secondary-light"  "brand"    $color--secondary-light),
  ("secondary"        "brand"    $color--secondary),
  ("secondary-dark"   "brand"    $color--secondary-dark),

  ("success"          "emotion"  $color--success),
  ("warning"          "emotion"  $color--warning),
  ("error"            "emotion"  $color--error),
  ("danger"           "emotion"  $color--error),

  ("space"            "other"    $color--space),
  ("message"          "other"    $color--message),
);

$fg-colors: (
  // CSS class root   type       on light bg         on dark bg
  (""                 "default"  $color--default     $color--default-on-dark),

  ("primary-light"    "brand"),
  ("primary"          "brand"),
  ("primary-dark"     "brand"),
  ("secondary-light"  "brand"),
  ("secondary"        "brand"),
  ("secondary-dark"   "brand"),

  ("success"          "emotion"  $color--success     $color--success-on-dark),
  ("warning"          "emotion"  $color--warning     $color--warning-on-dark),
  ("error"            "emotion"  $color--error       $color--error-on-dark),
  ("danger"           "emotion"  $color--error       $color--error-on-dark),

  ("disabled"         "other"    $color--disabled    $color--disabled-on-dark),
);
