@import './_unit-conversions.scss';

/*-------------------------------------------------------------------*\
  #COLOR-PALETTE
\*-------------------------------------------------------------------*/

// All colors are defined as **pairs of colors**: color itself and its "on-color" - the one used
// for text and lines when color is used for background.

// Theme defines 2 **brand** colors (secondary color is optional and in this case define it the same
// as primary color) and light and dark variations of these colors

// The following tool aws used to pick these colors:
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=26b1ed&secondary.color=00872d

//region: brand color pairs
$color--primary-dark: #0082ba;
$color--on-primary-dark: black;

$color--primary: #26b1ed;
$color--on-primary: black;

$color--primary-light: #70e3ff;
$color--on-primary-light: black;

$color--secondary-dark: #005900;
$color--on-secondary-dark: white;

$color--secondary: #00872d;
$color--on-secondary: white;

$color--secondary-light: #4cb85a;
$color--on-secondary-light: black;
//endregion

// Theme defines the following **system** colors independent of brand colors

$color--background: white;
$color--on-background: black;

$color--surface: white;
$color--on-surface: black;

$color--error: darkred;

$color--disabled: lightgrey;

$color--page-dialog: #e5e5e5;

$color--input--filled: #e5e5e5;

$color--snack-bar: #323232;
$color--on-snack-bar: #b1b1b1;

$color--data-table-line: lightgrey;

/*-------------------------------------------------------------------*\
  #Z-INDEXES
\*-------------------------------------------------------------------*/
// Z Indexes are used not only to set HTML element `z-index` property (which positions one elements
// closer to screen surface than others) but also to add shadows (elements which fly higher have larger shadows).
//
// These variables are based [on material design guidelines](https://material.io/design/environment/elevation.html).

$z-index--card: 1;
$z-index--button--raised: 2;
$z-index--button--floating-action: 6;
$z-index--menu: 8;
$z-index--button--raised--pressed: 8;
$z-index--snack-bar: 8;
$z-index--button--floating-action--pressed: 12;
$z-index--navigation-drawer: 16;
$z-index--modal-dialog: 24;

/*-------------------------------------------------------------------*\
  #OTHER
\*-------------------------------------------------------------------*/

$line-height--base: 1.5;                // Default line height (1.5 ratio means that if font size is 16px,
                                        // then line height is 24px)
$page-width: 1200px;                    // if page is larger, content is of this width, centered
$narrow-page-width: 800px;
$page-padding: rem(12px);               // padding INSIDE of page width

@import './_variables-custom.scss';
