@import '~Osm_Ui_Aba/_variables-and-mixins.scss';
@import './_mixins.scss';

.page {
  &__item {
    padding: 0 $page-padding;

    & > * {
      margin-left: auto;
      margin-right: auto;
      max-width: $page-width;
    }

    &.-narrow > * {
      max-width: $narrow-page-width;
    }
  }
}

.heading {
  @include heading($margin--h1);
}

