@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

@mixin field-color($color, $on-color) {
  color: $color;
  &.-active {
    .field__body {
      border-color: $color;
    }

    .field__comment {
      color: $color;
    }
  }
}