@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

@mixin wide-form-items() {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin wide-form-item() {
  grid-column: 1/3;

  &.-narrow {
    grid-column: auto;
  }
}

