@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

.form {
  &__header {
  }

  &__footer {
  }
}

.form-fields {
  &.-wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.-wide > &__wrap {
    grid-column: 1/3;

    &.-narrow {
      grid-column: auto;
    }
  }
}