@import '~Osm_Ui_Aba/_variables-and-mixins.scss';

@mixin form-items() {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin form-item() {
  grid-column: 1/3;

  &.-narrow {
    grid-column: auto;
  }
}

.form {
  &.-wide {
    @include form-items();
  }

  &.-wide &__item {
    @include form-item();
  }
}

.form-tab {
  &__items.-wide {
    @include form-items();
  }

  &__items.-wide &__item {
    @include form-item();
  }
}

.form-section {
  &__items.-wide {
    @include form-items();
  }

  &__items.-wide &__item {
    @include form-item();
  }
}
