@import '~Osm_Ui_Aba/_variables-and-mixins.scss';
@import './_mixins.scss';

@mixin form-items() {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@mixin form-item() {
  grid-column: 1/3;

  &.-narrow {
    grid-column: auto;
  }
}

.form {
  &.-wide {
    @include form-items();
  }

  &.-wide &__item {
    @include form-item();
  }
}

.form-tab {
  &__items.-wide {
    @include form-items();
  }

  &__items.-wide &__item {
    @include form-item();
  }
}

.form-section {
  &__items.-wide {
    @include form-items();
  }

  &__items.-wide &__item {
    @include form-item();
  }
}

.field {
  margin: rem(16px) 0 rem(8px);

  &__body {
    padding: rem(4px) rem(12px) rem(6px);
    border-bottom: solid rem(2px) transparent;
    border-radius: rem(4px) rem(4px) 0 0;
  }

  &__value {
    width: 100%;
    border: none;
  }

  &__comment, &__error {
    font-size: rem(12px);
    padding: 0 rem(12px);
    min-height: rem(18px);
  }

  &__error {
    color: $color--error;
    display: none;
  }

  &.-error {
    .field__title {
      color: $color--error;
    }

    .field__error {
      display: block;
    }

    .field__comment {
      display: none;
    }
  }

  &.-error.-active {
    .field__body {
      border-color: $color--error;
    }
  }

  &.-filled {
    .field__body {
      background: $color--input--filled;
    }

    .field__value {
      background: $color--input--filled;

      // fix Chrome auto filled input background
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $color--input--filled inset !important;
      }
    }
  }

  @include field-color($color--primary, $color--on-primary);
  &.-light {
    @include field-color($color--primary-light, $color--on-primary-light);
  }
  &.-dark {
    @include field-color($color--primary-dark, $color--on-primary-dark);
  }

  &.-secondary {
    @include field-color($color--secondary, $color--on-secondary);
    &.-light {
      @include field-color($color--secondary-light, $color--on-secondary-light);
    }
    &.-dark {
      @include field-color($color--secondary-dark, $color--on-secondary-dark);
    }
  }

  &.-price &__body {
    width: rem(180px);
  }
  &.-price &__price {
    width: 100%;
    display: flex;
  }
  &.-price &__currency {
    padding-right: rem(8px);
  }

  &.-date &__body {
    width: rem(180px);
  }

  &.-dropdown &__body {
    width: rem(300px);
  }
}